.content.album
	header
		grid-column-start: 1
		grid-column-end: 3
	max-width: none
	width: auto
	display: grid
	grid-template-columns: auto 15em
	grid-template-rows: auto auto
	.images
		img
			height: 15em
