.content.album
	header
		grid-column-start: 1
		grid-column-end: 3
		display: grid
		grid-template-columns: 1fr auto 1fr 15em
		grid-gap: 1em
		a 
			margin: auto 0
		h2
			grid-column-start: 4
			text-align: center
	max-width: none
	width: auto
	display: grid
	grid-template-columns: auto 15em 
	grid-template-rows: auto auto
	h1 
		text-align: center
	.images
		img
			height: 15em
	.albums
		flex-flow: column
		flex-wrap: nowrap
		padding: 3em

			
