$darkblue=rgb(30, 35, 40)
		
body.dark
	background: $darkblue
	color: white
	> header
		background: darkblue-opaque(0.45)
		.themeSwitch
			background-image: url(/img/sun.png)
	> hr
		border-color: white
	> footer
		background: inherit
		.github
			background-image: url(/img/github_light.png)
		.email
			background-image: url(/img/email_light.png)
		.youtube
			background-image: url(/img/yt_light.png)
	