> footer
	height: $footerHeight
	bottom: 0
	padding: 15px
	> .contacts
		display: flex
		flex-flow: row 
		justify-content: center
		> a
			margin: 0.5em
			background-size: contain
			height: 2em
			width: 2em
			display: block	
		