body.dark
	background: $darkblue
	color: white
	> header
		background: darkblue-opaque(0.45)
		.themeSwitch
			background-image: url(/img/sun.png)
	> hr
		border-color: white
	> footer
		background: inherit
		.github
			background-image: url(/img/github_light.png)
		.email
			background-image: url(/img/email_light.png)
		.youtube
			background-image: url(/img/yt_light.png)
			
body.light
	background: white
	color: rgb(20, 23, 23)
	> header
		background: rgba(255, 255, 255, 0.45)	
		.themeSwitch
			background-image: url(/img/moon.png)
	> hr 
		border-color: black

	> footer
		background: inherit
		.github
			background-image: url(/img/github_dark.png)
		.email
			background-image: url(/img/email_dark.png)			
		.youtube
			background-image: url(/img/yt_dark.png)