@font-face {
  font-family: Old english;
  font-style: normal;
  font-weight: normal;
  src: url("/font/OldEnglish.ttf");
}
@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  src: url("/font/Nunito-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url("/font/Nunito-Light.ttf");
}
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Nunito;
}
body > header {
  top: 0;
  z-index: 10;
  padding: 10px;
  padding-right: 35px;
  display: flex;
  flex-flow: row;
  position: sticky;
  min-height: 4em;
  height: auto;
  -webkit-backdrop-filter: blur(1.7px);
  -o-backdrop-filter: blur(1.7px);
  -moz-backdrop-filter: blur(1.7px);
  backdrop-filter: blur(1.7px);
  box-shadow: 1px 0 10px -3px rgba(0,0,0,0.3);
}
body > header h2 {
  margin: auto;
  font-size: 2.3em;
  margin-left: 1em;
  margin-right: 1em;
  font-family: Old english;
}
body > header .links {
  margin-left: 3.5em;
  display: flex;
  flex-flow: row;
  align-items: center;
}
body > header .links a {
  margin: auto;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.2em;
}
body > header .placeholder {
  width: 100%;
}
body > header .langs {
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
}
body > header .langs select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 0.5em 0 0;
  width: auto;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: inherit;
}
body > header .langs select ::ms-expand {
  display: none;
}
body > header .langs .arrow {
  position: absolute;
  z-index: -1;
  right: 0;
  font-size: 0.7em;
}
body > header .themeSwitch {
  height: 1.5em;
  min-width: 1.5em;
  background-size: cover;
  margin: auto 1em;
  cursor: pointer;
}
body > footer {
  height: 3em;
  bottom: 0;
  padding: 15px;
}
body > footer > .contacts {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
body > footer > .contacts > a {
  margin: 0.5em;
  background-size: contain;
  height: 2em;
  width: 2em;
  display: block;
}
body > hr {
  width: 75%;
  margin: 0.5em auto;
  opacity: 0.35;
}
a {
  text-decoration: underline;
  color: inherit;
}
a.nodec {
  text-decoration: none;
}
.centered {
  text-align: center;
  margin: auto;
}
.content {
  padding: 15px;
  max-width: 65%;
  margin: auto;
}
.content h1 {
  left: 0;
  width: 100%;
  font-size: 2.3em;
  position: relative;
  text-align: center;
}
.layout {
  height: auto;
  min-height: 100vh;
}
