{{#partial "dependencies" }}
	<link rel="stylesheet" href="/css/album.css" />
	<link rel="stylesheet" href="/css/albums.css" />
{{/partial}}
{{#partial "content" }}
	<header>
		<a href="javascript:history.back()">
			{{i18n "parent" bundle="text/albums" locale=locale}}
		</a>
		<h1>{{album.localizedName}}</h1>
		<h2>{{i18n "nested" bundle="text/albums" locale=locale}}</h2>	
	</header>
	<div class="images">
		{{#each images }}
			<img src="{{link}}" />
		{{/each}}
	</div>
	<div class="albums">
		{{#each albums }}
			{{>parts/albumPreview}}
		{{/each}}
	</div>
{{/partial}}

{{>basis}}