body.dark {
  background: #1e2328;
  color: #fff;
}
body.dark > header {
  background: darkblue-opaque(0.45);
}
body.dark > header .themeSwitch {
  background-image: url("/img/sun.png");
}
body.dark > hr {
  border-color: #fff;
}
body.dark > footer {
  background: inherit;
}
body.dark > footer .github {
  background-image: url("/img/github_light.png");
}
body.dark > footer .email {
  background-image: url("/img/email_light.png");
}
body.dark > footer .youtube {
  background-image: url("/img/yt_light.png");
}
